
<div id="footer" style="padding: 6px 0; text-align: center; font-size: 12px; line-height:1.5em">
    Rendered in {{.RenderTime}}ms by
    <a href="https://github.com/coyove/fofou" target="_blank">fofou</a><a href="/mod">2</a> ({{.RunningTime}}h)
</div>

<div style="cursor:pointer;background:rgba(0,0,0,0.2);position:fixed;width:24px;height:24px;line-height:24px;text-align:center;top:50%;right:0">
    <span class="icon-down-dir" onclick="$([document.documentElement,document.body]).animate({scrollTop:$('#footer').offset().top},100)">
    </span>
</div>
</div>

<script>
    (function() {
        var s = JSON.parse(localStorage.getItem("fold") || '{}'), latest = 0;
        for (var id in s) {
            _togglePost(id);
            if (s[id] > latest) latest = s[id];
        }
        for (var id in s) {
            if (latest - s[id] > 7 * 24 * 3600 * 1000) delete s[id];
        }
        if ((localStorage.getItem("auto-expand") || "off") == "on") {
            $('#expand-newpost').click();
        }
        $(document).mouseup(function(e) {
            var menu = $(".dropdown.active");
            if (!menu.get(0)) return;
            if (!menu.is(e.target) && menu.has(e.target).length === 0) menu.click();
        });
        $(".message").each(function(i, el) {
            var msg = $(el).html() || "";
            var m = msg.match(/-----BEGIN PGP SIGNED MESSAGE-----([\s\S]+)-----BEGIN PGP SIGNATURE-----([\s\S]+)-----END PGP SIGNATURE-----/);
            if (!m) return;
            $(el).prop('raw-msg', msg).html("<code class='pgp-header'>-----BEGIN PGP SIGNED MESSAGE-----</code><code>" 
                + m[1].replace(/^\s+|\s+$/g, '') + 
                "</code><code class='pgp-header'>-----BEGIN PGP SIGNATURE-----</code><code class='pgp-sign'>" 
                + m[2].replace(/^\s+|\s+$/g, '') +
                "</code><code class='pgp-header'>-----END PGP SIGNATURE-----</code>");
        });
    })()
</script>

</body>
</html>
