
<div id="footer" style="padding: 6px 0; text-align: center; font-size: 12px; line-height:1.5em">
    Rendered in {{.RenderTime}}ms by
    <a href="https://github.com/coyove/fofou" target="_blank">fofou</a><a href="/mod">2</a>
</div>

<div style="cursor:pointer;background:rgba(0,0,0,0.2);position:fixed;width:24px;height:24px;line-height:24px;text-align:center;top:50%;right:0">
    <span class="icon-down-dir" onclick="$([document.documentElement,document.body]).animate({scrollTop:$('#footer').offset().top},100)">
    </span>
</div>
</div>

<script>
    (function() {
        var s = JSON.parse(localStorage.getItem("fold") || '{}'), latest = 0;
        for (var id in s) {
            _togglePost(id);
            if (s[id] > latest) latest = s[id];
        }
        for (var id in s) {
            if (latest - s[id] > 7 * 24 * 3600 * 1000) delete s[id];
        }
        if ((localStorage.getItem("auto-expand") || "off") == "on") {
            $('#expand-newpost').click();
        }
        $(document).mouseup(function(e) {
            var menu = $(".dropdown.active");
            if (!menu.get(0)) return;
            if (!menu.is(e.target) && menu.has(e.target).length === 0) menu.click();
        });

        // display mod panels for average users of their own threads/posts
        var m = document.cookie.match(/'ID':\[(\S+)\]/);
        var id = null;
        if (m && m[1]) {
            var a = new Uint8Array(m[1].split("^"));
            id = (btoa(String.fromCharCode.apply(null, a)).substring(0, 8).replace("+", "-").replace("/", "_"));
        }
        if (!id) return;

        $(".post .info").each(function(i, el) {
            if ($(el).find(".author").text() != id) return;
            $(el).parent().find('.dropdown').first().find('.item-normally-hidden').css('display', 'block');
        });
    })()
</script>

</body>
</html>
