{{template "header.html" .}}

{{template "newpost.html" .}}

<div class="contents"> 
    <div class="topics">
        {{range .Topics}}
        {{template "topic1.html" .}} 
        <hr>
        {{end}}
    </div>

    <div class="paging" id="topics-page"></div>
    <script>
        (function() {
            // rendering pages navigation
            var c = $("#topics-page"), p = {{.CurPage}}, flag = false;
            for (var i = 1; i <= 10; i++) {
                if (i == p) flag = true;
                if (!flag && i == 10 && i != p)
                    c.append($("<a>").attr("href", "?p=" + p).html(p).addClass("current"));
                else
                    c.append($("<a>").attr("href", "?p=" + i).html(i).addClass(i == p ? "current" : ""));
            }

            c.append($("<a>").attr("href", "?p=" + (p + 1)).html("&nbsp;>&nbsp;"));
            document.title += " - P" + p;
        })()
    </script>
</div>
