<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{.Title}}</title>
        <link rel="shortcut icon" href="/s/favicon.png">
        <link href="/s/default.css?v={{.Invalidate}}" rel="stylesheet" type="text/css">
        <link href="/s/fontello-embedded.css" rel="stylesheet" type="text/css">
        <script src="/s/jquery-1.12.4.min.js"></script>
        <script src="/s/common.js?v={{.Invalidate}}" type="text/javascript"></script>
    </head>

    <body>
        <div id="container"> 
            <div class="header">
                <a class="item" href="/">主页</a>      
                <a class="item" href="/list">搜索</a>
                <a class="item" href="/rss.xml">RSS</a>
                <a class="item" href="/status">控制面板</a>
                <a class="item" href="/tagged">!!标记</a>
            </div>
