<div class="info">
    <span class="info2">
    {{if not .T_IsRef}}
    <span class="toggle icon-minus-squared" onclick="_togglePost({{.LongID}})"></span>
    <a href="javascript:_reply({{.LongID}})">#{{.LongID}}</a>
    {{else}}
    <a href="/p/{{.LongID}}" target=_blank>跳转：#{{.LongID}}</a>
    {{end}}

    {{if .T_IsFirst}}
        {{if .Topic.Subject}}{{.Topic.Subject}}{{else}}无标题{{end}}
    {{end}}

    <span class="date" stamp="{{.CreatedAt}}">{{.Date}}</span>

    {{if .T_IsOP}}{{if not .T_IsFirst}}<b>OP</b>{{end}}{{end}}

    {{if .Topic.T_IsAdmin}}
    <a href="/list?q={{.User}}" target="_blank" class="author">{{.User}}</a> (<a href="/list?q={{.IP}}" target="_blank">{{.IP}}</a>)
    {{else}}
        {{if .T_IsYou}}
        <span class="icon-user"><a href="/list?q={{.User}}" target="_blank" class="author">{{.User}}</a></span> 
        {{else}}
        {{.UserHTML}}
        {{end}}
    {{end}}

    {{if .T_IsFirst}}
        <span class="nowrap"> [ <a href="/t/{{.Topic.ID}}">回复</a> ] </span>
    {{end}}
    </span>
    <span class="dropdown icon-down-dir" onclick="_dropdownHeight($(this).toggleClass('active'))">
        <div>
        {{if .Topic.T_IsAdmin}}
            {{if .T_IsFirst}}
            <a class="group-header">主题</a>
            <a class="item" href="javascript:_submit(null,'!!free-reply={{.Topic.ID}}')">自由回复</a>
            <a class="item" href="javascript:_submit(null,'!!lock={{.Topic.ID}}')">锁定</a>
            <a class="item" href="javascript:_submit(null,'!!stick={{.Topic.ID}}')">置顶</a>
            <a class="item" href="javascript:_submit(null,'!!sage={{.Topic.ID}}')">SAGE</a>
            <a class="item" href="javascript:confirm()?_submit(null,'!!purge={{.Topic.ID}}'):0">永久删除</a>
            {{end}}
            <a class="group-header">回复</a>
            <a class="item" href="javascript:_reply({{.LongID}},'a')">附加内容</a>
            <a class="item" href="javascript:_submit(null,'!!block={{.User}}',function(){location.href='/list?q={{.User}}'})">封/解ID</a>
            <a class="item" href="javascript:_submit(null,'!!block={{.IP}}',function(){location.href='/list?q={{.IP}}'})">封/解IP</a>
            <a class="item" href="javascript:_submit(null,'!!delete={{.LongID}}')">{{if .IsDeleted}}恢复{{else}}删除{{end}}该回复</a>
            <a class="item" href="javascript:confirm()?_submit(null,'!!delete-image={{.LongID}}'):0">删除附图</a>
            <a class="item" href="javascript:_submit(null,'!!nsfw={{.LongID}}')">标记NSFW</a>
            <a class="item" href="/p/{{.LongID}}?raw=raw">RAW</a>
            <a class="item" href="javascript:_copyRaw({{.LongID}})">复制内容</a>
        {{else}}
            {{if and .T_IsYou .T_IsFirst}}
            <a class="group-header">主题</a>
            <a class="item" href="javascript:_reply({{.Topic.ID}},'s')">SAGE</a>
            {{end}}
            <a class="group-header">回复</a>
            {{if .T_IsYou}}
            <a class="item" href="javascript:_reply({{.LongID}},'d')">删除该回复</a>
            <a class="item" href="javascript:_reply({{.LongID}},'di')">删除附图</a>
            <a class="item" href="javascript:_reply({{.LongID}},'n')">标记NSFW</a>
            {{else}}
            <a class="item" href="javascript:_reply({{.LongID}},'r')">举报</a>
            {{end}}
            <a class="item" href="/p/{{.LongID}}?raw=raw">RAW</a>
            <a class="item" href="javascript:_copyRaw({{.LongID}})">复制内容</a>
        {{end}}
        </div>
    </span>
</div>
{{if .Image}}
<div class="image-div">
    <a target="_blank" href="/i/{{.Image.Path}}">{{.Image.Name}}</a> ({{formatBytes32 .Image.Size}}) <span class="loading"></span><br>
    {{if .T_IsNSFW}}
    <span style="color:red;cursor:pointer" onclick="_enlarge($(this).hide().next().show(),'/i/{{.Image.Path}}')">
        <b>NSFW图片，点击展开</b>
    </span>
    <img class="image image-base" onclick="_enlarge(this,'/i/{{.Image.Path}}')" style="display: none"/>
    {{else}}
    <img class="image image-base" onclick="_enlarge(this,'/i/{{.Image.Path}}')" src="/i/{{.Image.Path}}?thumb=1" />
    {{end}}
</div>
{{end}}
<div class="message">
    {{if .Message}}
    {{.MessageHTML}}
    {{else}}
    <span style="color:#aaa">无正文</span>
    {{end}}
</div>
