<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>{{ .Title }}</title>
	<link href="/s/default.css" rel="stylesheet" type="text/css">
	<script src="/s/default.js" type="text/javascript"></script>
</head>

<body>
<div id="container"> 
    <div class="header">
        <a class="item" href="/">主页</a><!--
        -->{{if .Forum.ForumConfig.Title}}<a class="item" href="/{{.Forum.ForumConfig.ForumUrl}}">{{.Forum.ForumConfig.Title}}</a>{{end}}<!--
        
        -->{{if .LogInOut}}<!--
        --><span class="item">{{.LogInOut}}</span><!--
        --><a class="item" href="javascript:location.href='/logout?redirect='+location.href" onload>登出</a>
        {{else}}<!--
        --><a class="item" href="javascript:location.href='/login?redirect='+location.href">GitHub账号登入</a>
        {{end}}
        
    </div>