{{template "header.html" .}}

<style>
#ranking {
    width: 100%;
    max-width: 360px;
        margin: 4px 0;
}
</style>

<h3>关于发帖</h3>
<ol>
    <li>机器人验证这一步<b>并不一定</b>是必须的：如果用户跳过验证直接提交，服务端会roll点决定是否强制用户进行验证。</li>
    <li>提交按钮旁的数字代表随机概率（0.01~0.99），例如0.42代表用户有42%的概率不用验证即可发言，58%的概率被驳回。</li>
    <li>该数字随着发帖数增加而增加，如果概率很低，请不要抱着抽奖的心态跳过验证。当前您的cookie的信任概率如下图：<br><img id="ranking" /></li>
</ol>
<h3>设置</h3>
<ul>
    <li>回复被折叠后将其：<select id="settings-hide" onchange='localStorage.setItem("hide-looks", this.value)'><option value="gray">变灰</option><option value="hide">不显示</option></select></li>
    <li>自动展开回复框：<select id="settings-autoexpand" onchange='localStorage.setItem("auto-expand", this.value)'><option value="off">否</option><option value="on">是</option></select></li>
    <li>点击图片打开方式：<select id="image-view" onchange='localStorage.setItem("image-view", this.value)'><option value="expand">展开大图</option><option value="blank">在新窗口内显示大图</option></select></li>
</ul>

<script>
    function drawCurve(n, p) {
        if (n < 5 || n > 20) n = 20;

        var canvas = document.createElement("canvas"), root = document.createElement("canvas");
        canvas.width = 360;
        canvas.height = 120;
        root.width = canvas.width - 10;
        root.height = canvas.height - 30;

        var ctx = root.getContext('2d');
        var len = n * 2;
        var height = root.height, width = root.width - 36;
        var delta = 4;
        var h0 = height - delta * 2;
        var points = [];
        var calcY_ = function(x) { return 1 - (Math.atan(n - x) / Math.PI + 0.5 + 0.01); }
        var calcY = function(x) { return h0 - calcY_(x) * h0 + delta; }
        var tick = Math.ceil(len / 10);

        ctx.font = '12px "Lucida Console", Monaco, monospace';
        for (var x = 0; x < len; x += 0.125) {
            var y0 = calcY(x);
            var x0 = x * width / len;

            points.push({x: x0, y: y0});

            if (x % 1 == 0) {
                ctx.beginPath();
                ctx.strokeStyle = x % tick == 0 ? '#cccccc' : '#eeeeee';
                ctx.moveTo(x0 + 1, 0);
                ctx.lineTo(x0 + 1, height);
                ctx.stroke();
            }
        }
        for (var x = 0; x < len; x += tick) {
            var x0 = x * width / len;
            ctx.fillText(x, x0 + 2, height - 3);
        }

        if (p >= len) p = len - 1;

        ctx.strokeStyle = 'red';
        ctx.beginPath();
        x0 = p * width / len + 1, y0 = calcY(p);
        ctx.moveTo(x0, 0);
        ctx.lineTo(x0, height);
        ctx.stroke();

        ctx.beginPath();
        ctx.moveTo(0, y0);
        ctx.setLineDash([3, 3]);
        ctx.lineTo(width, y0);
        ctx.stroke();
        ctx.setLineDash([]);

        ctx.beginPath();
        ctx.arc(x0, y0, 2, 0, 2 * Math.PI);
        ctx.fillStyle = "#ff5e5e";
        ctx.fill();

        ctx.strokeStyle = 'black';
        ctx.beginPath();
        ctx.moveTo(points[0].x, points[0].y);
        for(var i = 1; i < points.length-1; i++) {
            ctx.lineTo(points[i].x, points[i].y);
        }
        ctx.lineTo(width - 1, points[i].y);
        ctx.lineTo(width - 1, height);
        ctx.lineTo(0, height);
        ctx.closePath();
        ctx.fillStyle = "rgba(0, 188, 212, 0.1)";
        ctx.fill();
        ctx.stroke();

        ctx.textBaseline = "middle";
        ctx.textAlign="center"; 
        ctx.fillStyle="red";
        ctx.fillText(calcY_(p).toFixed(2), width + 18, y0);

        ctx.strokeStyle = 'black';
        ctx.strokeRect(1, 1, width - 2, height - 2);

        ctx = canvas.getContext('2d');
        ctx.font = '12px "Lucida Console", Monaco, monospace';
        ctx.fillStyle="white";
        ctx.fillRect(0, 0, canvas.width, canvas.height);
        ctx.drawImage(root, 5, 25);
        ctx.strokeRect(1, 1, canvas.width - 2, canvas.height - 2);
        ctx.fillStyle="black";
        ctx.textAlign="center"; 
        ctx.textBaseline = "middle";
        ctx.fillText(new Date().toLocaleDateString() + " (x = " + p + ")", canvas.width / 2, 12);

        return canvas.toDataURL();
    }

var p = document.cookie.match(/'Posts':(\d+)/);
var n = document.cookie.match(/'N':(\d+)/);
if (p && n) {
    var p = parseFloat(p[1]);
    var n = parseFloat(n[1]);
    $('#ranking').attr('src', drawCurve(n, p));
} else {
    $('#ranking').attr('alt', "未发现cookie");
}

     $("#settings-hide option[value=" + (localStorage.getItem("hide-looks") || "gray") + "]").attr("selected", "selected");
     $("#settings-autoexpand option[value=" + (localStorage.getItem("auto-expand") || "off") + "]").attr("selected", "selected");
     $("#image-view option[value=" + (localStorage.getItem("image-view") || "expand") + "]").attr("selected", "selected");
</script>

<h3>其他</h3>
<ul>
    <li>正文最大长度：{{.Forum.MaxMessageLen}} 字节</li>
    <li>标题最大长度：{{.Forum.MaxSubjectLen}} 字</li>
    <li>图片体积：{{.Forum.MaxImageSize}} MB</li>
    <li>搜索时间限制：{{.Forum.SearchTimeout}} 毫秒</li>
    {{if .Forum.NoMoreNewUsers}}
    <li>当前没有cookie的新用户无法发言</li>
    {{end}}
    {{if .Forum.NoImageUpload}}
    <li>当前禁止图片上传</li>
    {{end}}
</ul>

<h3>标记语言</h3>

<ol>
    <li>使用<code>```code```</code>括住代码</li>
    <li>使用<code>&gt;&gt;1234</code>引用其他人的发言</li>
</ol>
