{{template "header.html" .}}

<div>
	Alloc: {{.MemStats.Alloc}} b,
	Total Alloc: {{.MemStats.TotalAlloc}} b,
	Heap Alloc: {{.MemStats.HeapAlloc}} b,
	Heap Sys: {{.MemStats.HeapSys}} b
</div>

<pre style="font-size: 80%; white-space: pre-wrap; word-wrap: break-word">
{{ range $k, $v := .Header }}{{$k}}:
	{{$v}}
{{ end }}
</pre>

<div style="word-wrap: break-word">
{{if len .Errors}}
	<div style="color:red">Errors:</div>
	{{range .Errors}}
		<div><font style="color:gray;">{{.TimeString}}</font> {{.Msg}}</div>
	{{end}}
	<p></p>
{{end}}

{{if len .Notices}}
	<div>Notices:</div>
	{{range .Notices}}
		<div><font style="color:gray;">{{.TimeString}}</font> {{.Msg}}</div>
	{{end}}
{{end}}
</div>

{{template "footer.html" .}}
