{{template "header.html" .}}

<style>
        .panel input {
            width: 80px;
        }

        .panel input[type=checkbox] {
            width: initial;
        }

        .panel input.long {
            width: 120px;
        }

        #perm-username, #perm-n {
            width: 100%
        }

        #perm-makeid {
            word-wrap: break-word;
            word-break: break-all;
        }

        .panel {
            margin: 8px;
            line-height: 1.5em; word-wrap: break-word;
            float: left;
        }

        .panel table {
            max-width: 400px;
        }
</style>

    <script>
        function _intval(k, el) {
            _submit(null,'!!' + k + '='+$(el).prev().val());
        }
    </script>

    <div class=panel>
<h3>Config</h3>
<table id="settings">
    <tr><th>HTTP Headers Test:</th><td><a href="#" onclick="$(this).hide().next().show()">Show</a>
<pre style="font-size: 80%; white-space: pre-wrap; word-wrap: break-word; word-break: break-all; display: none">
{{ range $k, $v := .Header }}{{$k}}:
	{{$v}}
{{ end }}
</pre></td></tr>
    <tr><th>Get IP:</th><td>{{.IP}}</td></tr>
    <tr><th>Alloc:</th><td>{{formatBytes .MemStats.Alloc}}</td></tr>
    <tr><th>Total Alloc:</th><td>{{formatBytes .MemStats.TotalAlloc}}</td></tr>
    <tr><th>Heap Alloc:</th><td>{{formatBytes .MemStats.HeapAlloc}}</td></tr>
    <tr><th>Heap Sys:</th><td>{{formatBytes .MemStats.HeapSys}}</td></tr>
    <tr><th colspan=2><hr></th></tr>
    <tr><th>Title:</th><td><input class=long value="{{.Forum.Title}}"> <a href="#" onclick="_submit(null,'!!title='+$(this).prev().val())">Update</a></td></tr>
    <tr><th>Main URL:</th><td><input class=long value="{{.Forum.URL}}"> <a href="#" onclick="_submit(null,'!!url='+$(this).prev().val())">Update</a></td></tr>
    <tr><th>Uploaded Images:</th><td><a href="/browse" target="_blank">Browse</a></td></tr>
    <tr><th>Thumb Queue:</th><td>{{.IQLen}}</td></tr>
    <tr><th>Max Image Size:</th><td><input value="{{.Forum.MaxImageSize}}"> MB <a href="#" onclick="_intval('max-image-size', this)">Update</a></td></tr>
    <tr><th>Search Timeout:</th><td><input value="{{.Forum.SearchTimeout}}"> ms <a href="#" onclick="_intval('search-timeout', this)">Update</a></td></tr>
    <tr><th>Cooldown:</th><td><input value="{{.Forum.Cooldown}}"> s <a href="#" onclick="_intval('cooldown', this)">Update</a></td></tr>
    <tr><th>No Cookies:</th><td>{{.Forum.NoMoreNewUsers}} <a href="javascript:_submit(null,'!!moat=cookie')">Toggle</a></td></tr>
    <tr><th>No Images Upload:</th><td>{{.Forum.NoImageUpload}} <a href="javascript:_submit(null,'!!moat=image')">Toggle</a></td></tr>
    <tr><th>No Recaptcha:</th><td>{{.Forum.NoRecaptcha}} <a href="javascript:_submit(null,'!!moat=recaptcha')">Toggle</a></td></tr>
    <tr><th>Max Message Len:</th><td><input value="{{.Forum.MaxMessageLen}}"> bytes <a href="#" onclick="_intval('max-message-len', this)">Update</a></td></tr>
    <tr><th>Max Subject Len:</th><td><input value="{{.Forum.MaxSubjectLen}}"> chars <a href="#" onclick="_intval('max-subject-len', this)">Update</a></td></tr>
</table>
    </div>

<div class=panel>
    <h3>Make ID</h3>
    <table>
        <tr><th>ID (8 chars):</th><td><input id="perm-username"></td></tr>
        <tr><th>N (5 ~ 20):</th><td><input id="perm-n"></td></tr>
        <tr><th>Permissions:</th><td><input class="perm-check" id="perm-1" type="checkbox"><label for="perm-1">PERM_ADMIN</label><br>
    <input class="perm-check" id="perm-2" type="checkbox" checked><label for="perm-2">PERM_NO_ROLL</label><br>
    <input class="perm-check" id="perm-4" type="checkbox"><label for="perm-4">PERM_LOCK_SAGE_DELETE</label><br>
    <input class="perm-check" id="perm-8" type="checkbox"><label for="perm-8">PERM_STICKY_PURGE</label><br>
    <input class="perm-check" id="perm-16" type="checkbox"><label for="perm-16">PERM_BLOCK</label></td></tr>
        <tr><th></th><td><button onclick="_makeid()">Make</button></td></tr>
        <tr><th>Result:</th><td><div id="perm-makeid">N/A</div></td></tr>
    </table>
    <script>
        function _makeid() {
            var mask = 0, id = $("#perm-username").val() || ("a:" + Math.random().toString(36).substring(7, 13));
            $(".perm-check").each(function(i, el) {
                if (el.checked)
                    mask |= parseInt(el.id.substring(5));
            });
            $.post("/cookie", { makeid: id + "," + mask + ',' + ($("#perm-n").val() || 10) }, function (data) {
                $("#perm-makeid").html('<a href="/cookie?uid=' + encodeURIComponent(data) + '">' + data + "</a>");
            });
        }
    </script>
</div>

<div class=panel>
    <h3>Logs</h3>
{{if len .Errors}}
	<div style="color:red">Errors:</div>
	{{range .Errors}}
		<div><font style="color:gray;">{{.TimeString}}</font> {{.Msg}}</div>
	{{end}}
	<p></p>
{{end}}

{{if len .Notices}}
	<div>Notices:</div>
	{{range .Notices}}
		<div><font style="color:gray;">{{.TimeString}}</font> {{.Msg}}</div>
	{{end}}
{{end}}
</div>

<br style="clear:both">
