{{ template "header.html" . }}
<div class="form">
	<form action="newpost" method="post">
	<input name="Token" value="{{ .Token }}" type="hidden">
	{{if .TopicLocked}}
		<h2>主题已被锁定，无法回复</h2>
	{{else}}
		{{ if .TopicID }}
			<input name="topicId" value="{{ .TopicID }}" type="hidden">
			<h2>回复 "{{ .PrevSubject }}"</h2>
		{{ else }}
			<h2>新主题</h2>
		{{ end }}
	{{end}}

	<table class="form" cellspacing="0">
		<tbody>
		{{ if not .TopicID }}
		<tr>
			<th><label for="Subject">标题:</label></th>
			<td colspan="2">
				<input maxlength="64" name="Subject" id="Subject" value="{{ .PrevSubject }}" type="edit">
			</td>
		</tr>
		{{ end }}

		{{if .SubjectError}}
		<tr><th>&nbsp;</th><td colspan="2" style="color:red">无效标题 (6 至 96 字节)</td></tr>
		{{end}}

		<tr>
			<th><label for="Message">正文:</label></th>
			<td colspan="2">
				<textarea name="Message" id="Message" rows="16" wrap="virtual">{{ .PrevMessage }}</textarea>
			</td>
		</tr>

		{{if .MessageError}}
		<tr><th>&nbsp;</th><td colspan="2" style="color:red">无效正文 (6 至 16384 字节)</td></tr>
		{{end}}

		{{if .TokenError}}
		<tr><th>&nbsp;</th><td colspan="2" style="color:red">无效请求</td></tr>
		{{end}}

		<tr>
			<td>&nbsp;</td>
			<td class="buttons">
				<input name="Ok" value="发布" type="submit">
				<input name="Cancel" value="返回" type="submit">
			</td>
			
			<td class="buttons" style="text-align: right">
				<label id="indicator"></label>
				<a id="select" href="javascript:document.getElementById('select-images').click()">选择图片</a>
				<a id="upload" href="javascript:uplaodToSMMS()" style="display:none">上传sm.ms</a>
			</td> 
		</tr>
		</tbody>
	</table>

	</form>

	<input type="file" multiple="multiple" id="select-images" style="display: none" onchange="updateState()"/>
	<script>
		function updateState() {
			var files = document.getElementById('select-images').files;
			if (files.length > 0) {
				document.getElementById('select').innerHTML='选择图片 (' + files.length + ')';
				document.getElementById('upload').style.display = "";
			} else {
				document.getElementById('select').innerHTML='选择图片';
				document.getElementById('upload').style.display = "none";
			}
		}
		function uplaodToSMMS() {
			var input = document.getElementById('select-images'), select = document.getElementById('select');
			var files = input.files;
			var box = document.getElementById('Message');
			var indicator = document.getElementById('indicator');
			document.getElementById('upload').style.display = "none";
			select.style.display = "none";

			var index = 0;
			var handle = setInterval(function(){ indicator.innerHTML = ["⣾","⣽","⣻","⢿","⡿","⣟","⣯","⣷"][index++ % 8]; }, 100);

			var upload = function(idx) {
				if (idx >= files.length) {
					input.value = "";
					indicator.innerHTML = "";
					select.style.display = "";
					clearInterval(handle);
					updateState();
					return;
				}

				var xhr = new XMLHttpRequest();
				xhr.onreadystatechange = function(e) {
					if ( 4 == this.readyState ) {
						var resp = JSON.parse(xhr.responseText);
						if (resp && resp.code == "success") {
							box.value += "\n" + resp.data.url;
						} else {
							box.value += "\n*** FAILED *** " + files[idx].name;
						}
						upload(idx + 1);
					}
				};
				xhr.open('post', "https://sm.ms/api/upload");
				var form = new FormData();
				form.append("smfile", files[idx]);
				xhr.send(form);
			};

			upload(0);
		}
	</script>
</div>

{{ template "footer.html" }}

