{{ template "header.html" . }}

  {{ $isAdmin := .IsAdmin }}
  {{ $forumUrl := .ForumUrl }}

	<div class="contents">
		<div class="posts">
            <div style="margin: 4px 0">
			{{ if .IPAddr }}
			    Total <b>{{ .TotalCount }}</b> posts from IP <b>{{ .IPAddr }}</b>
                {{if $isAdmin}}
                    (<a href="/{{$forumUrl}}/block?term={{.IPAddressInternal}}&action=b">{{ if .IPBlocked }}unblock{{else}}block{{end}} this ip</a>)
                {{end}}.
			{{ end }}

			{{ if .User }}
                Total <b>{{ .TotalCount }}</b> posts from <b>{{ .User }}</b>
                {{if $isAdmin}}
                    (<a href="/{{$forumUrl}}/block?term={{.User}}&action=u">{{ if .UserBlocked }}unblock{{else}}block{{end}} this user</a>)
                {{end}}.
			{{ end }}
		    </div>

			{{ range .Posts }}
			<div class="post-container">
				<h3>{{ .Topic.Subject }}</h3>
				<div class="{{.CssClass}}">{{ .MessageHtml }}</div>
				<div class="signature">
					{{ if .UserHomepage }}
						<a href="{{ .UserHomepage }}">{{ .UserName }}</a> {{ .CreatedOnStr }}
					{{ else }}
						{{ .UserName}} {{ .CreatedOnStr }}
					{{ end }}

					{{ if $isAdmin }}
						<br/> From: {{ .IPAddress }}
						<a href="/{{$forumUrl}}/delete?topicId={{.Topic.ID}}&postId={{.ID}}">{{ if .IsDeleted }}restore{{ else }}delete{{end}}</a>
					{{ end }}
				</div>
			</div>
			{{ end }}
		</div>
	</div>

{{ template "footer.html" }}
