{{ template "header.html" . }}

  {{ $isAdmin := .IsAdmin }}
  {{ $forumUrl := .ForumUrl }}

	<div class="contents">
		<div class="posts">
			{{ if .IpAddr }}
				<div>Total <b>{{ .TotalCount }}</b> posts from ip address {{ .IpAddr }} 
					{{ if .IpBlocked }}
					  (<a href="/{{$forumUrl}}/unblockip?ip={{.IpAddrInternal}}">unblock this ip</a>)
					{{ else }}
					  (<a href="/{{$forumUrl}}/blockip?ip={{.IpAddrInternal}}">block this ip</a>)
					{{ end }}
				.</div><br>
			{{ end }}

			{{ if .Nick }}
			<div>Total <b>{{ .TotalCount }}</b> posts by user {{ .Nick }}.</div><br>
			{{ end }}

			{{ range .Posts }}
			<div class="post-container">
				<h3>{{ .Topic.Subject }}</h3>
				<div class="{{.CssClass}}">{{ .MessageHtml }}</div>
				<div class="signature">
					{{ if .UserHomepage }}
						<a href="{{ .UserHomepage }}">{{ .UserName }}</a> {{ .CreatedOnStr }}
					{{ else }}
						{{ .UserName}} {{ .CreatedOnStr }}
					{{ end }}

					{{ if $isAdmin }}
						<br/> From: {{ .IpAddress }}
						{{ if .IsDeleted }}
							<a href="/{{$forumUrl}}/postundel?topicId={{.Topic.ID}}&postId={{.Id}}">restore</a>
						{{ else }}
							<a href="/{{$forumUrl}}/postdel?topicId={{.Topic.ID}}&postId={{.Id}}">delete</a>
						{{ end }}
					{{ end }}
				</div>
			</div>
			{{ end }}
		</div>
	</div>

{{ template "footer.html" }}
