<div class="topic">
    {{if .ID}}
            {{if not .T_IsExpand}}
            <span id="title-subject" style="display:none">{{$.Subject}}</span>
    <script>document.title += " - No.{{.ID}} - " + ($("#title-subject").text() || "无标题")</script>
            {{end}}
    {{end}}

    {{range .Posts}}
    <div class="post {{if .T_IsFirst}}post-first{{end}}" id="post-{{.LongID}}">
        {{if .IsDeleted}}
            {{if $.T_IsAdmin}}
                <s>{{template "post1.html" .}}</s>
            {{else}}
                <div><s style="color: #aaa">已删除</s></div>
            {{end}}
        {{else}}
            {{template "post1.html" .}}
        {{end}}

        {{ if $.T_IsAdmin }}
        <div style="font-size:12px;text-align:center">
            <span class="mod-ip">
            <a href="/list?q={{.IP}}" target="_blank">{{.IP}}</a>
            <a href="javascript:_submit(null, '!!delete={{.LongID}}')" style="color:red">
                {{if .IsDeleted}} 恢复删除 {{else}} 删除 {{end}}
            </a>
            </span>
        </div>
        {{ end }}

        {{if .T_IsFirst}}
                <div class="topic-status">
                    {{if $.T_TotalPosts}}<span class="icon-chat-empty"><b>共{{$.T_TotalPosts}}回复{{if $.T_IsExpand}}，展开以查看更多{{end}}</b></span>{{end}}
                    {{if $.Archived}}<span class="icon-floppy"><b>该主题已被存档</b></span>{{end}}
                    {{if $.Locked}}<span class="icon-lock"><b>该主题已被锁定</b></span>{{end}}
                    {{if $.Sticky}}<span class="icon-pin"><b>置顶主题</b></span>{{end}}
                    {{if $.Saged}}<span class="icon-thumbs-down-alt" style="color:red"><b>该主题已被SAGE</b></span>{{end}}
                    {{if $.FreeReply}}<span class="icon-heart" style="color:#0097A7"><b>该主题下可自由回复</b></span>{{end}}
                    {{if $.T_IsAdmin}}
                    <span class="icon-cog admin-topic-ops">主题操作：<a href="javascript:_submit(null,'!!free-reply={{$.ID}}')">自由回复</a>
                <a href="javascript:_submit(null,'!!lock={{$.ID}}')">锁定</a>
                <a href="javascript:_submit(null,'!!stick={{$.ID}}')">置顶</a>
                <a href="javascript:_submit(null,'!!sage={{$.ID}}')">SAGE</a>
                <a style="color:red" href="javascript:confirm()?_submit(null,'!!purge={{$.ID}}'):0">永删</a></span>
                    {{end}}
                </div>
        {{else}}
    </div>
        {{end}}
    {{end}}
    </div>
</div>
