<div class="topic">
    {{if .ID}}
    <div class="subject">
        <div class="title">
            No.{{.ID}} 
            {{.Subject}}
        </div>
        <div>
            <span>
                {{if .Archived}}[存档]{{end}}
                {{if .Locked}}[锁定]{{end}}
                {{if .Sticky}}[置顶]{{end}}
                {{if .Saged}}[SAGE]{{end}}
                {{if .FreeReply}}[自由回复]{{end}}
                共 {{.T_TotalPosts}} 条回复
                {{if .T_IsExpand}}
                <span>
                    , [<a href="/t/{{.ID}}" target="_blank">展开</a>]以查看更多
                </span>
                {{else}}
                <title id="title-subject">{{.Subject}}</title>
                <script>document.title = $("#title-subject").text()</script>
                {{end}}

            </span>
        </div>
        {{if .T_IsAdmin}}
        <div>
            <a href="javascript:_submit(null,'!!free-reply={{.ID}}')">自由回复</a>
            <a href="javascript:_submit(null,'!!lock={{.ID}}')">锁定</a>
            <a href="javascript:_submit(null,'!!stick={{.ID}}')">置顶</a>
            <a href="javascript:_submit(null,'!!sage={{.ID}}')">SAGE</a>
            &nbsp;&bull;&nbsp;
            <a style="color:red" href="javascript:confirm()?_submit(null,'!!purge={{.ID}}'):0">永删</a>
            &nbsp;&bull;&nbsp;
            <a href="javascript:_submit(null,'!!moat=cookie')">MOAT</a>
            <a href="javascript:_submit(null,'!!moat=image')">MOAT-i</a>
        </div>
        {{end}}
    </div>
    {{end}}
    {{range .Posts}}
    <div class="post" id="post-{{.LongID}}">
        <div class="info">
            <span class="toggle" onclick="_togglePost({{.LongID}})">[-]</span>
            <a class="no" href="#post-{{.LongID}}">#{{.LongID}}</a>
            {{.Date}}
            <a href="/list?q={{.User}}" target="_blank">{{.User}}</a>

            {{ if $.T_IsAdmin }}
            <br/>IP:
            <a href="/list?q={{.IP}}" target="_blank">{{.IP}}</a>
            <a href="javascript:_submit(null, '!!delete={{.LongID}}')">
                {{if .IsDeleted}}
                恢复删除
                {{else}}
                <span style="color:red">删除</span>
                {{end}}
            </a>
            {{ end }}
        </div>
        {{if .IsDeleted}}
        {{if $.T_IsAdmin}}
        <s>{{template "post1.html" .}}</s>
        {{else}}
        <div><s style="color: #aaa">已删除</s></div>
        {{end}}
        {{else}}
        {{template "post1.html" .}}
        {{end}}
    </div>
    {{end}}
</div>
