{{ template "header.html" . }}

  {{ $isAdmin := .IsAdmin }}
  {{ $forumUrl := .Forum.ForumUrl }}

	<div class="contents">
		<div class="posts">
			<h3 style="margin-bottom:-4px;">
				{{if .Archived}}<b>[存档]</b>{{end}}
				{{if .Locked}}<b>[锁定]</b>{{end}}
				{{ .Subject }}
			</h3>

			{{ range .Posts }}
			<div class="post-container" id="post-{{.ID}}">
				<div>{{ .MessageHTML }}</div>
				<div class="signature">
                    <a class="no" href="#post-{{.ID}}" style="text-decoration:none;color:black">#{{.ID}}</a>
					{{ if $isAdmin }}
                    <a href="/{{$forumUrl}}?t=list&u={{.User}}">{{.User}}</a> {{ .Date}}
					{{ else }}
                        {{.User}} {{.Date}}
					{{ end }}

					{{ if $isAdmin }}
						<br/>From:
						<a href="/{{$forumUrl}}?t=list&ip={{.IPAddress}}">{{ .IPAddress }}</a>
						<a href="/{{$forumUrl}}?t=raw&tid={{.Topic.ID}}&pid={{.ID}}">raw</a>
						<a href="/{{$forumUrl}}?t=del&tid={{.Topic.ID}}&pid={{.ID}}">{{ if .IsDeleted }}restore{{ else }}delete{{end}}</a>
					{{ end }}
				</div>
			</div>
			{{ end }}

			{{if not .Archived}}
			{{if not .Locked}}
			<div class="buttons">
                <a accesskey="r" href="/{{ .ForumUrl }}?t=new&tid={{.Topic.ID}}">新回复</a>
				<a accesskey="t" href="/{{ .ForumUrl }}">
					<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAB9SURBVGhD7dUhEsRAEMPA/f+ncyxAqVsbGamrxDx4jqSPB/3D3aqoPeBuVdQecLcqag+4WyVJ0lX7OLhbFbUH3K2K2gPuVkXtAXerJEm6ah8Hd6ui9oC7VVF7wN2qqD3gbpUkSVft4+BuVdQecLcqag+4WxW1B9ytkvQ65wdVKB3/xGUOgQAAAABJRU5ErkJggg=="> 返回主题列表
				</a>
			</div>
			{{end}}
			{{end}}
		</div>
	</div>

{{ template "footer.html" .}}
