<div class="topic">
    {{if .ID}}
    <div class="subject">
        <div class="title">
            <span class="title-id">No.{{.ID}}</span>
            {{.Subject}}
        </div>
        <div>
            <span>
                {{if .Archived}}<b>[存档]</b>{{end}}
                {{if .Locked}}<b>[锁定]</b>{{end}}
                {{if .Sticky}}<b>[置顶]</b>{{end}}
                {{if .Saged}}<b>[SAGE]</b>{{end}}
                {{if .FreeReply}}<b>[自由回复]</b>{{end}}
                共 {{.T_TotalPosts}} 条回复
                {{if .T_IsExpand}}
                <span>
                    , [ <a href="/t/{{.ID}}" target="_blank">展开</a> ] 以查看更多
                </span>
                {{else}}
                <title id="title-subject">{{.Subject}}</title>
                <script>document.title = $("#title-subject").text()</script>
                {{end}}

            </span>
        </div>
        {{if .T_IsAdmin}}
        <div>
            <a href="javascript:_submit(null,'!!free-reply={{.ID}}')">自由回复</a>
            <a href="javascript:_submit(null,'!!lock={{.ID}}')">锁定</a>
            <a href="javascript:_submit(null,'!!stick={{.ID}}')">置顶</a>
            <a href="javascript:_submit(null,'!!sage={{.ID}}')">SAGE</a>
            &nbsp;&bull;&nbsp;
            <a style="color:red" href="javascript:confirm()?_submit(null,'!!purge={{.ID}}'):0">永删</a>
        </div>
        {{end}}
    </div>
    {{end}}
    {{range .Posts}}
    <div class="post" id="post-{{.LongID}}">
        <div class="info">
            <span class="toggle" onclick="_togglePost({{.LongID}})">[-]</span>
            <a href="{{if $.T_IsExpand}}/t/{{.Topic.ID}}#post-{{.LongID}}{{else}}javascript:_reply({{.LongID}}){{end}}">#{{.LongID}}</a>
            {{.Date}}
            <a href="/list?q={{.User}}" target="_blank">{{.User}}</a>

            {{ if $.T_IsAdmin }}
            <div style="font-size:12px">IP:
            <a href="/list?q={{.IP}}" target="_blank" style="font-size:12px">{{.IP}}</a>
            <a href="javascript:_submit(null, '!!delete={{.LongID}}')" style="font-size:12px;color:red">
                {{if .IsDeleted}} 恢复删除 {{else}} 删除 {{end}}
            </a>
            </div>
            {{ end }}
        </div>
        {{if .IsDeleted}}
        {{if $.T_IsAdmin}}
        <s>{{template "post1.html" .}}</s>
        {{else}}
        <div><s style="color: #aaa">已删除</s></div>
        {{end}}
        {{else}}
        {{template "post1.html" .}}
        {{end}}
    </div>
    {{end}}
</div>
