* {
	font-family: "Helvetica Neue", "Helvetica", "HiraginoSansGB-W3", "SourceHanSansSC-Regular", "SourceHanSansCN-Regular",  "Microsoft YaHei", "WenQuanYi Micro Hei", "Arial", sans-serif; 
	box-sizing: border-box;
}

body {
	color:	black;
	padding:0;
	font-size: 14px;
	margin: 0;
	background-color: rgb(252, 252, 244);
}

a { 
    text-decoration: none;
}

a:visited {
    color: #54638c;
}

a:link {
    color: #0035c7;
}

.header .item {
	color:white;
	display:inline-block;
	zoom:1;
	*display:inline;
	margin: 0 0 0 8px;
	text-decoration: none;
}

.header {
	background:#676677;
    padding: 4px 8px 4px 0;
    color:white;
	margin: -4px -4px 0 -4px;
}

.header * {color:white !important;}

.nowrap { white-space: nowrap; }

#container {
	width: 100%;
	margin: 0 auto;
	padding: 4px;
}

code {
	white-space: pre-wrap;
	font-family: "Lucida Console", Monaco, monospace;
    display: block;
}

code.pgp-header { font-size: 90%; margin: 4px 0; color: #666 }

code.pgp-sign { font-size: 6px; color: #ff5722 }

table th, table td {
    padding: 4px;
}

table th {
    white-space: nowrap;
    width: 1px;
    text-align: left;
}

table textarea, table input.long {
	width: 100%;
    resize: vertical;
} 

table {
    min-width: 350px;
    margin: 6px 0;
    border: solid 1px #aaa;
	background-color: rgb(246, 246, 239);
}

div.paging span, div.paging a {
    display: inline-block;
    margin: 2px 2px 2px 0;
    padding: 2px 6px;
    border: solid 1px #aaa;
    cursor: pointer;
    color: black;
    text-decoration: none;
    background: #fafbfc;
}

div.paging span.current, div.paging a.current, div.paging span:hover, div.paging a:hover {
    background: #676677;
    border-color: #666;
    color: white;
}

div.paging span:active, div.paging a:active {
    box-shadow: 0 1px 2px #333 inset;
}

div.topic { margin: 2px 0; }

div.topic-status { margin: 4px 0; }

div.topic-status span { display: block; }

div.topic-status, div.ref { font-size: 90%; }

.dropdown { 
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.dropdown div {
    position: absolute;
    border: solid 1px #ccc;
    background: #fafbfc;
    display: none;
    z-index: 10000;
    right: 0;
    min-width: 100px;
    box-shadow: 0 1px 5px #ccc;
}

.dropdown div a {
    display: block;
    text-decoration: none;
    white-space: nowrap;
    color: black;
    padding: 2px 6px;
    border-top: solid 1px #ddd;
    cursor: pointer;
    text-align: left;
}

.dropdown div a.group-header {
    font-weight: bold;
    background: #ddd;
    font-size: 12px;
}

.dropdown.active div { display: block; }

.dropdown div a:first-child { border-top: none; }

.dropdown div a.item:hover { background: #676677; color: white; border-color: #676677; }

.dropdown .item-normally-hidden { display: none; }

div.ref .subject { display: none; }

div.post {
    margin: 4px 4px 4px 1.2em;
    padding: 4px;
    border: solid 1px #aaa;
    border-top-color: #ddd;
    border-left-color: #ddd;
    display: table;
	background-color: rgb(236, 236, 229);
}

div.post-first {
    border: none;
    margin: 0;
    background-color: transparent;
    width: 100%;
}

div.ref .post { 
    margin: 0;
    border: solid 1px #ccc;
    border-top-color: #aaa;
    border-left-color: #aaa;
    background-color: rgba(255, 255, 255, 0.3);
}

div.post.fold .info2, div.post.fold .info2 a { color: #aaa; }

div.post.fold.fold-hide { display: none; }

div.post.fold div.post { display: none; }

div.post .message {
    word-break: break-all;
    margin: 8px;
}

div.post .info { margin-bottom: 2px; }

div.post .info .toggle { cursor: pointer; }

div.post .info .toggle::before {
    cursor: pointer;
    width: 16px;
    margin: 0;
    display: inline-block;
}

div.post .image {
    max-width: 200px;
    max-height: 200px;
}

div.post .image-base {
    float: left;
    margin-right: 6px;
    cursor: pointer;
    display: inline;
}

div.post .image-div {
    display: inline;
    font-size: 90%;
}

.fold .image-div { display: none !important; }

div.post .image-large {
    max-width: 100%;
    max-height: 100%;
}

div.post hr {
    border: dashed 1px #bbb;
}

.icon-minus-squared, .icon-plus-squared, .icon-down-dir {
    color: #667;
}

#expand-newpost { font-size: 16px; }
