* {
	font-family: "Helvetica Neue", "Helvetica", "HiraginoSansGB-W3", "SourceHanSansSC-Regular", "SourceHanSansCN-Regular",  "Microsoft YaHei", "WenQuanYi Micro Hei", "Arial", sans-serif; 
	box-sizing: border-box;
}

body {
	color:				black;
	padding:			0; /* needed for Opera */
	font-size: 14px;
	margin: 0;
}

 .header .item {
	color:white;
	display:inline-block;
	zoom:1;
	*display:inline;
	margin:-4px 0;
	padding:4px 8px;
	border-left:solid 1px #889;
	text-decoration: none;
}

.header a.item:hover {
	text-decoration: underline;
}

.header {
	background:#676677;padding:4px 0;color:white;
	margin: -4px -4px 0 -4px;
}

.header * {color:white !important;}

#container {
	width: 100%;
	margin: 0 auto;
	max-width: 960px;
	padding: 4px;
}

code {
	white-space: pre-wrap;
	font-family: "Lucida Console", Monaco, monospace;
}

table#newpost th, table#newpost td {
    padding: 4px;
}

table#newpost th {
    white-space: nowrap;
    width: 1px;
}

table#newpost textarea, table#newpost input {
	width: 100%;
    resize: vertical;
} 

table#newpost {
    min-width: 350px;
    margin: 6px 0;
    border: solid 1px #aaa;
	background-color: rgb(246, 246, 239);
}

div#paging span, div.paging a {
    display: inline-block;
    margin: 2px;
    padding: 2px 6px;
    border: solid 1px #aaa;
    cursor: pointer;
    color: black;
    text-decoration: none;
}

div#paging span.current {
    background: #888;
    border-color: #666;
    color: white;
}

div.topic {
    padding: 4px;
    margin: 6px 0;
    border: solid 1px #aaa;
	background-color: rgb(246, 246, 239);
    display: table;
    overflow: hidden;
}

div.subject {
    background: #dadad4;
    margin: -4px -4px 8px -4px;
    padding: 4px;
}

div.subject .title, div.subject .title * {
    font-size: 16px;
}

div.title-info {
    line-height: 20px;
}

div.subject .title-id {
    display: inline-block;
    padding: 2px 6px;
    background: #fafbfc;
    border: solid 1px #333;
}

div.ref { font-size: 90%; }

div.ref .subject { display: none; }

div.post {
    margin: 4px 4px 4px 8px;
    padding: 4px;
    border: solid 1px #aaa;
    display: table;
	background-color: rgb(236, 236, 229);
}

div.post.fold, div.post.fold a { color: #aaa !important; }

div.post .info a { color: black; }

div.post .message {
    word-break: break-all;
    margin-top: 4px;
}

div.post .info .toggle {
	font-family: "Lucida Console", Monaco, monospace;
    cursor: pointer;
}

div.post img.image {
    max-width: 200px;
    max-height: 200px;
    float: left;
    margin-right: 6px;
}
