* {
	font-family: "Helvetica Neue", "Helvetica", "HiraginoSansGB-W3", "SourceHanSansSC-Regular", "SourceHanSansCN-Regular",  "Microsoft YaHei", "WenQuanYi Micro Hei", "Arial", sans-serif; 
	box-sizing: border-box;
}

body {
	color:	black;
	padding:0;
	font-size: 14px;
	margin: 0;
	background-color: rgb(252, 252, 244);
}

a:visited {
    color: #54638c;
}

a:link {
    color: #0035c7;
    text-decoration: underline;
}

.header .item {
	color:white;
	display:inline-block;
	zoom:1;
	*display:inline;
	margin: 0 0 0 8px;
	text-decoration: none;
}

.header a.item:hover {
	text-decoration: underline;
}

.header {
	background:#676677;
    padding: 4px 8px 4px 0;
    color:white;
	margin: -4px -4px 0 -4px;
}

.header * {color:white !important;}

.nowrap { white-space: nowrap; }

#container {
	width: 100%;
	margin: 0 auto;
	max-width: 960px;
	padding: 4px;
}

code {
	white-space: pre-wrap;
	font-family: "Lucida Console", Monaco, monospace;
}

table th, table td {
    padding: 4px;
}

table th {
    white-space: nowrap;
    width: 1px;
    text-align: left;
}

table textarea, table input {
	width: 100%;
    resize: vertical;
} 

table {
    min-width: 350px;
    margin: 6px 0;
    border: solid 1px #aaa;
	background-color: rgb(246, 246, 239);
}

div.paging span, div.paging a {
    display: inline-block;
    margin: 2px 2px 2px 0;
    padding: 2px 6px;
    border: solid 1px #aaa;
    cursor: pointer;
    color: black;
    text-decoration: none;
    background: #fafbfc;
}

div.paging span.current, div.paging a.current, div.paging span:hover, div.paging a:hover {
    background: #888;
    border-color: #666;
    color: white;
}

div.topic {
    margin: 6px 0;
    display: table;
    overflow: hidden;
}

div.topic-status { margin: 4px 0; }

div.topic-status span { display: block; }

div.topic-status, div.ref { font-size: 90%; }

div.ref .subject { display: none; }

div.post {
    margin: 4px 4px 4px 1.2em;
    padding: 4px;
    border: solid 1px #aaa;
    display: table;
	background-color: rgb(236, 236, 229);
}

div.post-first {
    border: none;
    margin: 0;
    background-color: transparent;
}

div.ref .post { margin: 0; border-style: dashed; }

div.post.fold, div.post.fold a { color: #aaa !important; }

div.post.fold.fold-hide { display: none; }

div.post.fold div.post { display: none; }

div.post .message {
    word-break: break-all;
    margin: 8px;
}

div.post .info .toggle { cursor: pointer; }

div.post .info .toggle::before {
    cursor: pointer;
    width: 16px;
    margin: 0;
    display: inline-block;
}

div.post img.image {
    max-width: 200px;
    max-height: 200px;
}

div.post img.image-base {
    float: left;
    margin-right: 6px;
    cursor: pointer;
    display: inline;
}

.fold .image-base { display: none !important; }

div.post img.image-large {
    max-width: 100%;
    max-height: 100%;
}

.icon-minus-squared, .icon-plus-squared {
    color: #667;
}

.mod-ip {
    margin: 2px;
    display:inline-block;padding:4px 8px;background:white;
    border-radius: 3px;
    border: dotted 1px #667;
}
